@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --primary-color: #bcb6ad;
  --primary-color-dark: #8c8273;
  --primary-color-darkest: #544e45;
  --primary-color-light: #d3d0ca;
  --primary-color-lightest: #eae9e6;
  --background-color: #26292b;
  --background-color-dark: #181a1b;
  --background-color-darkest: #131516;
  --background-color-light: #484d51;
  --background-color-lightest: #6c747a;
  --accent-color: #2e4826;

  --xs: 4px;
  --s: 8px;
  --m: 12px;
  --l: 16px;
  --xl: 20px;
  --xxl: 24px;
  --space-section: 40px;
  --footer-height: 40px;
}
/* Estilos generales */
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  min-width: 375px;
  display: grid;
  justify-content: center;
}
.wrap {
  padding-top: var(--xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1600px;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3 {
  text-align: center;
  padding: 16px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}
nav {
  margin-top: var(--space-section);
  ul {
    display: flex;
    gap: var(--m);

    li {
      list-style: none;
      padding: var(--l);
      background-color: var(--background-color-dark);
      border-radius: var(--xs);
      box-shadow: 1px 2px 6px var(--background-color-light);
      transition: all ease 0.4s;

      &:hover {
        background-color: var(--primary-color-darkest);
        box-shadow: 1px 2px 6px var(--background-color-dark);
        color: var(--primary-color-lightest);
      }
    }
  }
}

footer {
  margin-top: var(--space-section);
  margin-bottom: var(--xxl);
  display: flex;
  width: 100%;

  nav {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;

      a:nth-child(1) {
        position: absolute;
        left: 0px;
      }
    }
  }
}
.transparent {
  opacity: 0;
}
