@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Estilos generales */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --primary-color: #cfe800;
  --background-color: #090715;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  min-width: 375px;
}

h1 {
  text-align: center;
  padding: 16px;
}
h2 {
  padding: 16px 0px;
}
nav {
  width: 100%;
  background-color: var(--primary-color);
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 16px;
    color: var(--background-color);

    &:hover {
      background-color: var(--background-color);
      color: var(--primary-color);
    }
  }
}

@media (width <=500px) {
  ul {
    flex-direction: column;
  }
}
